@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Pinar-Bold";
    src: url(/fonts/Pinar-FD-Bold.woff2);
  }
  @font-face {
    font-family: "Pinar-Black";
    src: url(/fonts/Pinar-FD-Black.woff2);
  }
  @font-face {
    font-family: "Pinar-ExtraBold";
    src: url(/fonts/Pinar-FD-ExtraBold.woff2);
  }
  @font-face {
    font-family: "Pinar-Light";
    src: url(/fonts/Pinar-FD-Light.woff2);
  }
  @font-face {
    font-family: "Pinar-Medium";
    src: url(/fonts/Pinar-FD-Medium.woff2);
  }
  @font-face {
    font-family: "Pinar-Regular";
    src: url(/fonts/Pinar-FD-Regular.woff2);
  }
  @font-face {
    font-family: "Pinar-SemiBold";
    src: url(/fonts/Pinar-FD-SemiBold.woff2);
  }
  @font-face {
    font-family: "Roboto-Black";
    src: url(/fonts/Roboto-Black.ttf);
  }
  @font-face {
    font-family: "Roboto-Bold";
    src: url(/fonts/Roboto-Bold.ttf);
  }
  @font-face {
    font-family: "Roboto-Light";
    src: url(/fonts/Roboto-Light.ttf);
  }
  @font-face {
    font-family: "Roboto-Medium";
    src: url(/fonts/Roboto-Medium.ttf);
  }
  @font-face {
    font-family: "Roboto-Regular";
    src: url(/fonts/Roboto-Regular.ttf);
  }
  @font-face {
    font-family: "Roboto-Thin";
    src: url(/fonts/Roboto-Thin.ttf);
  }
}

body {
  background-image: url(../public/image/bg.png);
  background-color: #1f2128;
  background-repeat: no-repeat;
  background-size: contain;
}

::-webkit-scrollbar {
  display: none; 
}
